# Title

text text remove this

## Introduction
some introduction here (mention aqhi here)

## Preliminary exploratory data analysis
hey that's me

In [33]:
# Load required libraries, run before everything else
library(tidyverse)

In [34]:
# Get weather + pollution data for the Aotizhongxin station in Beijing
download.file("https://raw.githubusercontent.com/DonkeyBlaster/dsci-100-2023w1-group43/main/PRSA_Data_Aotizhongxin_20130301-20170228.csv", "Aotizhongxin_data.csv")
data <- read_csv("Aotizhongxin_data.csv") |>
    select(-station)  # This just says "Aotizhongxin", no need to keep it around
head(data, 4)
tail(data, 4)

Rows: 35064 Columns: 18
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): wd, station
dbl (16): No, year, month, day, hour, PM2.5, PM10, SO2, NO2, CO, O3, TEMP, P...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  No year month day hour PM2.5 PM10 SO2 NO2 CO  O3 TEMP PRES   DEWP  RAIN wd
1 1  2013 3     1   0    4     4     4   7  300 77 -0.7 1023.0 -18.8 0    NNW
2 2  2013 3     1   1    8     8     4   7  300 77 -1.1 1023.2 -18.2 0    N
3 3  2013 3     1   2    7     7     5  10  300 73 -1.1 1023.5 -18.2 0    NNW
4 4  2013 3     1   3    6     6    11  11  300 72 -1.4 1024.5 -19.4 0    NW
  WSPM
1 4.4
2 4.7
3 5.6
4 3.1

  No    year month day hour PM2.5 PM10 SO2 NO2 CO  O3 TEMP PRES   DEWP  RAIN
1 35061 2017 2     28  20   13    37    7  45  500 81 11.6 1013.6 -15.1 0
2 35062 2017 2     28  21   16    37   10  66  700 58 10.8 1014.2 -13.3 0
3 35063 2017 2     28  22   21    44   12  87  700 35 10.5 1014.4 -12.9 0
4 35064 2017 2     28  23   19    31   10  79  600 42  8.6 1014.1 -15.9 0
  wd  WSPM
1 WNW 0.9
2 NW  1.1
3 NNW 1.2
4 NNE 1.3

As shown above by the preview of the data, there are observations for each hour from the start of March 2013 to the end of February  2017. The "station" column was dropped as it only said "Aotizhongxin". As previously mentioned, we will be calculating AQHI for the reporting stations, which has the formula [formula goes here]. Therefore, we can drop the irrelevant pollutant columns. Additionally, we can also drop the "No" column, as it is just a continuously incrementing counter.

In [35]:
data <- data |>
    select(-PM10, -SO2, -CO, -No)
head(data, 4)
tail(data, 4)

  year month day hour PM2.5 NO2 O3 TEMP PRES   DEWP  RAIN wd  WSPM
1 2013 3     1   0    4      7  77 -0.7 1023.0 -18.8 0    NNW 4.4
2 2013 3     1   1    8      7  77 -1.1 1023.2 -18.2 0    N   4.7
3 2013 3     1   2    7     10  73 -1.1 1023.5 -18.2 0    NNW 5.6
4 2013 3     1   3    6     11  72 -1.4 1024.5 -19.4 0    NW  3.1

  year month day hour PM2.5 NO2 O3 TEMP PRES   DEWP  RAIN wd  WSPM
1 2017 2     28  20   13    45  81 11.6 1013.6 -15.1 0    WNW 0.9
2 2017 2     28  21   16    66  58 10.8 1014.2 -13.3 0    NW  1.1
3 2017 2     28  22   21    87  35 10.5 1014.4 -12.9 0    NNW 1.2
4 2017 2     28  23   19    79  42  8.6 1014.1 -15.9 0    NNE 1.3